<h2 class="page_title">会員情報の変更</h2>

<div class="user-form-wrap">
  <%= form_with model:@user, local:true, html:{class:"user-form"} do |f| %>

    <div class="error-messages">
      <%= render 'shared/error_messages', model: f.object %>
    </div>

    <div class="form__group">  
      <%= f.label :department, "部署(必須)" %>
      <%= f.collection_select(:department_id, Department.all, :id, :name, {})%>
    </div>

    <div class="form__group">
      <%= f.label :job_num, "職番(必須)" %>
      <%= f.text_field :job_num, placeholder:"8桁の数字" %>
    </div>

    <div class="form__group">
      <%= f.label :email, "メールアドレス(必須)" %>
      <%= f.email_field :email, placeholder:"例) taro@trace.jp.com", autocomplete: true %>
    </div>

    <div class="form__group">
      <div class="form__group-child">
        <div class="form__group-child-item">
          <%= f.label :first_name, "苗字(必須)" %>
          <%= f.text_field :first_name, placeholder:"例) 追跡" %>
        </div>
        <div class="form__group-child-item">
          <%= f.label :last_name, "名前(必須)" %>
          <%= f.text_field :last_name, placeholder:"例) 太郎" %>
        </div>
      </div>
    </div>

    <div class="form__group">
      <div class="form__group-child">
        <div class="form__group-child-item">
          <%= f.label :first_name_kana, "苗字カナ(必須)" %>
          <%= f.text_field :first_name_kana, placeholder:"例) トレース" %>
        </div>
        <div class="form__group-child-item">
          <%= f.label :last_name_kana, "名前カナ(必須)" %>
          <%= f.text_field :last_name_kana, placeholder:"例) タロウ" %>
        </div>
      </div>
    </div>

    <div class="form__group">
      <%= f.label :password, "新しいパスワード(任意)" %>
      <%= f.password_field :password, placeholder:"全角半角英数字を全て含む6文字以上で入力してください。", autocomplete: "off" %>
    </div>

    <div class="form__group">
      <%= f.label :password_confirmation, "新しいパスワードの確認(任意)" %>
      <%= f.password_field :password_confirmation, placeholder:"同じパスワードを入力してください。", autocomplete: "off" %>
    </div>

    <div class="form__group">
      <%= f.label :current_password, "現在のパスワード(必須)" %>
      <%= f.password_field :current_password, placeholder:"全角半角英数字を全て含む6文字以上で入力してください。", autocomplete: "off" %>
    </div>

    <div>
      <%= f.submit "変更", class:"btn btn--new-edit" %>
    </div>
  <% end %>
</div>