<h1>車両一覧</h1>

<% if user_signed_in? %>
  <li>Hello! <%= link_to current_user.first_name, "#" %>!</li>
  <li><%= link_to "ログアウト", destroy_user_session_path, data: {turbo_method: :delete} %></li>
<% else %>
  <li><%= link_to "新規登録", new_user_registration_path %></li>
  <li><%= link_to "ログイン", new_user_session_path %></li>
<% end %>


<%# Car List %>
<ul>
  <% @cars.each do |car| %>
    <li>車両名：<%= link_to car.car_name, car_path(car) %></li>
    <li>発売日：<%= car.launch_date %></li>
    <li>登録者：<%= car.user.first_name %><%= car.user.last_name %></li>
  <% end %>
</ul>

<%# Car registration %>
<% if user_signed_in? %>
  <%= link_to "新規登録", "/cars/new" %>
<% end %>