<h1>車両一覧</h1>

<% if user_signed_in? %>
  <li>Hello! <%= link_to current_user.first_name, "#" %>!</li>
  <li><%= link_to "ログアウト", destroy_user_session_path, data: {turbo_method: :delete} %></li>
<% else %>
  <li><%= link_to "新規登録", new_user_registration_path %></li>
  <li><%= link_to "ログイン", new_user_session_path %></li>
<% end %>

<%= @cars.each do |car| %>
  <li><%= car.car_name %></li>
  <li><%= car.launch_date %></li>
  <li><%= car.calculation %></li>
  <li><%= car.user %></li>
<% end %>