<h1 class="car-page__title">Car Description</h1>

<ul class="car-page__meta">
  <%# For car update miss %>
  <% saved_car = Car.find(@car.id).car_name %>
  <% saved_launch_date = Car.find(@car.id).launch_date %>
  <li class="car-page__meta-item">車両名：<%= saved_car %></li>
  <li class="car-page__meta-item">発売日：<%= saved_launch_date %></li>
</ul>

<% if user_signed_in? %>
  <div class="car-page__actions">
    <a class="btn btn--primary", id="new-edit-car">車両情報の編集</a>
    <%= link_to "車両の削除", car_path(@car), data: { turbo_method: :delete }, class: "btn btn--danger" %>
    <%= link_to "変更履歴", history_car_path(@car), class: "btn btn--secondary" %>
  </div>
<% end %>

<% if flash[:errors_calculation_create] %>
  <div class="error-messages">
    <% flash[:errors_calculation_create].each do |msg| %>
      <p><%= msg %></p>
    <% end %>
  </div>
<% end %>

<%# Calculation register -----------------------------------------------------%>
<% if user_signed_in? %>
  <%= form_with model: [@car, @calculation], local: true, data: { turbo: false }, class: "form" do |f| %>

    <div class="form__group">
      <label class="form__label">演算名：</label>
      <%= f.text_field :calculation_name, value: flash[:input_calculation_create]&.[]("calculation_name"), class: "form__input" %>
    </div>

    <%= f.submit '登録', class: "btn btn--primary" %>
  <% end %>
<% end %>

<%# Calculation list ---------------------------------------------------------%>
<% if flash[:errors_signalinfo_create] %>
  <div class="error-messages">
    <% flash[:errors_signalinfo_create].each do |msg| %>
      <p><%= msg %></p>
    <% end %>
  </div>
<% end %>

<% @calculations.each do |calculation| %>
  <section class="calculation-card">
    <header class="calculation-card__header">
      <h2 class="calculation-card__title">演算名：<%= calculation.calculation_name %></h2>

    <%# Signal trace -------------------------------------------------------%>
      <p class="calculation-card__trace">
        <%= link_to "信号の追跡", trace_signals_car_calculation_path(@car, calculation), class: "btn btn--secondary btn--small" %>
      </p>

      <% if user_signed_in? %>
        <div class="calculation-card__actions">
          <a class="btn btn--small btn--secondary" id="edit-calculation"
              data-calculation-id=<%= calculation.id %>
              data-calculation-name=<%= calculation.calculation_name %>
              data-calculation-car-id=<%= @car.id %>>
              編集
          </a>
          <%= link_to "削除", car_calculation_path(@car, calculation), data: { turbo_method: :delete }, class: "btn btn--small btn--danger" %>
        </div>
      <% end %>
    </header>

    <%# Signal list ----------------------------------------------------------%>
    <ul class="signal-list">
      <% calculation.signalinfos.each do |signalinfo| %>
        <li class="signal-list__item">
          <span>信号名：<%= signalinfo.signal_name %></span>
          <span>信号の種類：<%= signalinfo.signal_type.name %></span>

          <% if user_signed_in? %>
            <div class="signal-list__actions">
              <a class="btn btn--small btn--secondary edit-signalinfo"
                data-signalinfo-id=<%= signalinfo.id %>
                data-signalinfo-name=<%= signalinfo.signal_name %>
                data-signalinfo-type=<%= signalinfo.signal_type.id %>
                data-signal-calculation-id=<%= calculation.id %>
                data-signal-car-id=<%= @car.id %>>
              編集
              </a>
              <%= link_to "削除", car_calculation_signalinfo_path(@car, calculation, signalinfo),
                            data: { turbo_method: :delete },
                            class: "btn btn--tiny btn--danger" %>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>

    <%# Signal register ------------------------------------------------------%>
    <% if user_signed_in? %>
      <%= form_with model: @signalinfo,
                    url: car_calculation_signalinfos_path(@car, calculation),
                    local: true,
                    data: { turbo: false },
                    class: "form form--inline" do |f| %>
        <div class="form__group">
          <label class="form__label">信号名：</label>
          <%= f.text_field :signal_name, value: flash[:input_signalinfo_create]&.[]("signal_name"), class: "form__input" %>
        </div>

        <div class="form__group">
          <label class="form__label">信号の種類：</label>
          <%= f.collection_select :signal_type_id, SignalType.all, :id, :name, {}, value: flash[:input_signalinfo_create]&.[]("signal_type_id"), class: "form__select" %>
        </div>

        <%= f.hidden_field :calculation_id, value: calculation.id %>
        <%= f.submit "信号を追加", class: "btn btn--primary btn--small" %>
      <% end %>
    <% end %>
  </section>
<% end %>

<%# PopUp============================================================================= %>

<%# Car Edit Form ------------------------------------------------------%>
<div class="modal" id="car-form" data-error-messages="<%= @car.errors.any? %>">
  <div class="modal-content">
    <%= form_with model: @car, local: true, data: { turbo: false } do |f| %>

        <div class="error-messages">
          <%= render 'shared/error_messages', model: f.object %>
        </div>

      <div class="car-form__group">
        <label class="car-form__label">車両名</label>
        <%= f.text_area :car_name, class: "car-form__input" %>
      </div>

      <div class="input-birth-wrap">
        <%= raw sprintf(
                    f.date_select(
                      :launch_date,
                      class:'select-birth',
                      id:"launch-date",
                      use_month_numbers: true,
                      prompt:'--',
                      start_year: 2000,
                      end_year: (Time.now.year + 10),
                      date_separator: '%s'),
                    "<p> 年 </p>", "<p> 月 </p>") + "<p> 日 </p>" %>
      </div>

      <%= f.submit 'Registration', class: "car-form__submit" %>
    <% end %>
  </div>
</div>


<%# Calculation Edit Form ------------------------------------------------------%>
<div class="modal" id="calculation-form" data-error-messages="<%= flash[:errors_calculation_update].present? %>">
  <div class="modal-content">

    <% if flash[:errors_calculation_update] %>
      <div class="error-messages">
        <% flash[:errors_calculation_update].each do |msg| %>
          <p><%= msg %></p>
        <% end %>
      </div>
    <% end %>

    <%= form_with(model: [@car, @calculation], url: "", 
                method: :patch, local: true, data: { turbo: false }, html: { id: "calculation-edit-form" }) do |f| %>
      
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <%= f.hidden_field :id, id: "calculation-id-field" %>

      <div>
        演算名：
        <%= f.text_field :calculation_name, id: "calculation-name-field",
              value: flash[:input_calculation_create]&.[]("calculation_name") %>
      </div>
        <%= f.submit 'Registration', class: "car-form__submit" %>
    <% end %>
  </div>
</div>

<%# SignalInfo Edit Form ------------------------------------------------------%>
<div class="modal" id="signalinfo-form"
     data-error-messages="<%= flash[:errors_signalinfo_update].present? %>"
     data-car-id="<%= flash[:signalinfo_error_id]&.dig("car_id") %>"
     data-calculation-id="<%= flash[:signalinfo_error_id]&.dig("calculation_id") %>"
     data-signalinfo-id="<%= flash[:signalinfo_error_id]&.dig("signalinfo_id") %>">
  <div class="modal-content">
 
    <% if flash[:errors_signalinfo_update] %>
      <div class="error-messages">
        <% flash[:errors_signalinfo_update].each do |msg| %>
          <p><%= msg %></p>
        <% end %>
      </div>
    <% end %>

    <%= form_with(model: [@car, @calculation, @signalinfo], url: "", 
                method: :patch, local: true, data: { turbo: false }, html: { id: "signalinfo-edit-form" }) do |f| %>
      
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <% if flash[:input_signalinfo_update] %>
        <p>signal_name: <%= flash[:input_signalinfo_update]["signal_name"] %></p>
      <% end %>
      
      <div>
        信号名：<%= f.text_field :signal_name, id: "signalinfo-name-field",
                  value: flash[:input_signalinfo_update]&.[]("signal_name")%>
      </div>
      <div>
        信号の種類：
        <%= f.collection_select(:signal_type_id, SignalType.all, :id, :name,
            { selected: flash[:input_signalinfo_create]&.[]("signal_type_id") }, { id: "signalinfo-type-field" }) %>
      </div>
      <%= f.submit "信号を更新" %>
    <% end %>

  </div>
</div>